.container {
  width: 100%;
  height: calc(100vh - 64.5px);
}

.layout {
  width: 100%;
  height: calc(100vh - 64.5px);
}

.categories {
  width: 28ch;
  min-width: 18ch;
}
.categories_panel {
  padding-left: 9px;
  padding-right: 9px;
}

.ds-stv-clusters-instruction {
  font-size: small;
  margin-left: 7px;
  margin-right: 7px;
}

.text_content {
  padding-left: 18px;
  padding-right: 18px;
  line-height: 175%;
  max-width: 6.5in;
}

.selection {
  font-weight: bold;
  font-size: 80%;
  padding: 5px;
  background: #C9C9C9;
  text-align: center;
}
.selection_table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 5px;
}
.selection_row {
  display: flex;
  flex-direction: row;
}
.selection_label {
  font-weight: bold;
  width: 10ch;
  flex: none;
}
.selection_data {
  flex: 0 1 auto;
  overflow-x: auto;
}
.text_info {
  padding: 4px;
}
