@import '../../cmu-app-theme.scss';

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.sidebar {
  flex: 0 1 auto;
  overflow-y: auto;
  width: 490px;
}

.tree-tools {
  display: flex;
  flex-direction: row;
  background-color: $cmu-core-grey;
}
.tree {
  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
}
.tree-node {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.cluster-name {
  white-space: nowrap;
}
.tooltip-icon {
  font-size: small;
}
.cluster-detail {
  overflow: hidden;
}
.cluster-row td {
  border-bottom-width: 0;
}
tr.cluster-detail-row {
  height: 0;
  min-height: 0;
}

.pattern-table {
  margin-left: 3em;
  max-height: 13em; /*calc(30vh);*/
  overflow: auto;
}

.mat-column-count {
  text-align: right;
}

.text_card {
  flex: 1 1 auto;
  overflow: auto;
}
.text_head {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text_content {
  line-height: 175%;
  max-width: 6.5in;
  padding-left: 18px;
  padding-right: 18px;
}

.d_none {
  display: none;
}
