<mat-drawer-container *ngIf="tagged_text" class="container">
  <mat-drawer mode="side" opened disableClose position="start">
    <mat-card class="sidebar">
      <mat-card-title>Dictionary Categories</mat-card-title>
      <mat-card-subtitle>Select up to {{max_selected_clusters}}:</mat-card-subtitle>
      <mat-card-content>
        <mat-selection-list #cluster_selection (selectionChange)="selection_change($event)">
          <mat-list-option *ngFor="let c of clusters;" checkboxPosition="before" [value]="c">{{get_cluster_name(c)}}</mat-list-option>
        </mat-selection-list>
  </mat-card-content></mat-card></mat-drawer>
  <mat-drawer-content>
    <mat-card>
      <mat-card-title>ID: {{tagged_text.text_id}}</mat-card-title>
      <mat-card-content>
        <article class="text_content" [innerHTML]="html_content"
                 (click)="click_select($event)"></article>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
  <mat-drawer mode="side" opened disableClose position="end" [style.maxWidth]="'22em'" [style.height]="'100%'">
    <mat-card class="sidebar">
      <mat-card-title>Patterns</mat-card-title>
      <mat-card-content>
        <mat-accordion *ngIf="patterns">
          <mat-expansion-panel *ngFor="let clust of clusters">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span><span class="badge">{{get_pattern_count(clust)}}</span> {{get_cluster_name(clust)}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <details *ngIf="get_cluster_info(clust) as info">
              <summary>{{info.description}}</summary>
              <p>{{info.description}}</p>
            </details>
            <ul role="list" [style.listStyle]="'none'">
              <li role="listitem" *ngFor="let pattern of patterns.get(clust) | keyvalue">
                <span class="badge mat-small">{{pattern.value}}</span><span class="pattern mat-body">{{pattern.key}}</span>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </mat-drawer>
</mat-drawer-container>
