.tool {
  display: flex;
  flex-flow: column;
  height: 100%;
}
app-nav {
  flex: 0 1 auto;
}
.container {
  flex: 1 1 auto;
  margin: 5px;
  overflow: auto;
}

.report_form {
  max-width: 5.5in;
}
.edit_textarea {
  padding: 2em;
  width: 100%;
}

button {
  display: block;
  margin: 0 auto 15px;
}
