.container {
  margin: 5px;
  height: calc(100vh - 64.5px - 49px - 10px);
  overflow: auto;
}

.report_form {
  max-width: 5.5in;
}
.edit_textarea {
  width: 100%;
  padding: 2em;
}

button {
  margin: 0 auto 15px;
  display: block;
}
