@import '../../cmu-app-theme.scss';
circle {
  fill: $cmu-secondary-blue;
}

.mat-column-title {
  //flex: 0 2 12em !important;
  max-width: 12em !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bubble-col-header {
  text-overflow: ellipsis;
}
.bubble-col {
  //flex: 0 0 44px !important;
  max-width: 46px;
  overflow: hidden;
}

::ng-deep .bubble-tooltip > div {
  white-space: pre-line;
  text-align: start;
}

.tilt-header {
  text-align: center;
  white-space: nowrap;
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
}

.model_entry {
  color: blue;
  opacity: 0.4;
}

.name_entry {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

circle.tick {
  fill: none;
  stroke: $cmu-secondary-blue;
}

text.tick {
  alignment-baseline: middle;
  dominant-baseline: middle;
  text-anchor: middle;
}
