@import "../../cmu-app-theme.scss";
circle {
  fill: $cmu-secondary-blue;
}

.tool {
  display: flex;
  flex-flow: column;
  height: 100%;
}
app-nav {
  flex: 0 1 auto;
}
.container {
  flex: 1 1 auto;
  margin: 5px;
  overflow: auto;
}

.model_entry {
  color: blue;
  opacity: 0.4;
}
