[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reportlab = "*"
pandas = "*"
"beautifulsoup4" = "*"
mysqlclient = "*"
sqlalchemy = "*"
fastapi = "*"
itsdangerous = "*"
aiofiles = "*"
email-validator = "*"
ujson = "*"

[dev-packages]
pylint = "*"
bandit = "*"

[requires]
python_version = "3.8"
