[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reportlab = "*"
pandas = "*"
"beautifulsoup4" = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
fastapi = "*"
ujson = "*"
lxml = "*"
pydantic = "*"
aiomysql = "*"
hypercorn = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
pydantic-settings = "*"

[dev-packages]
pylint = "*"
bandit = "*"
autopep8 = "*"

[requires]
python_version = "3.12"
