/* You can add global styles to this file, and also import other style files */
/*@import url('https://fonts.googleapis.com/icon?family=Material+Icons');*/

/* angular material */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.cluster_id {
  background: lightgrey;
  border: 1px solid grey;
  display: none;
  padding: 3px;
}
.cluster_default {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.cluster_0 {
  border-bottom-color: rgb(255, 0, 32); /* fallback */
  border-bottom-color: rgba(255, 0, 32, 0.7);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.cluster_1 {
  border-bottom-color: rgb(255, 172, 0); /* fallback */
  border-bottom-color: rgba(255, 172, 0, 0.7);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.cluster_2 {
  border-bottom-color: rgb(119, 189, 11); /* fallback */
  border-bottom-color: rgba(119, 189, 11, 0.7);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.cluster_3 {
  border-bottom-color: rgb(49, 117, 230); /* fallback */
  border-bottom-color: rgba(49, 117, 230, 0.7);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.cluster_4 {
  border-bottom-color: rgb(137, 80, 224); /* fallback */
  border-bottom-color: rgba(137, 80, 224, 0.7);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.cluster_5 {
  border-bottom-color: rgb(220, 10, 169); /* fallback */
  border-bottom-color: rgba(220, 10, 169, 0.7);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.selected_text {
  background-color: pink;
}

/* scatterplot */
circle.dot {
  cursor: pointer;
  fill: black;
  filter: opacity(60%);
}

circle.dot.model {
  fill: blue;
  filter: opacity(40%);
}

html, body { height: 100vh; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; margin: 0; }
app-root {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
