/* angular material */
@use '@angular/material' as mat;

/* fonts */
// Currently, it is better to use link in index.html to load foreign resoruces.
//@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1:400&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
//@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');
//@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

//@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'cmu-app-theme';
@include mat.all-legacy-component-themes($cmu-theme);

.cluster_id {
  background: $cmu-core-grey;
  border: 1px solid $cmu-core-darkgrey;
  padding: 3px;
}
.cluster {
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.d_none {
  display: none;
}

.selected_text {
  background-color: rgba($cmu-secondary-gold, 0.3);
}

/* scatterplot */
circle.dot {
  cursor: pointer;
  fill: $cmu-core-black;
  filter: opacity(60%);
}

circle.dot.model {
  fill: $cmu-secondary-blue;
  filter: opacity(40%);
}

html,
body {
  height: 100vh;
}
body {
  font-family: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}
app-root {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
