/* You can add global styles to this file, and also import other style files */
/*@import url('https://fonts.googleapis.com/icon?family=Material+Icons');*/

/* easy-ui */
@import '~ng-easyui/themes/material/easyui.css';
@import '~ng-easyui/themes/angular.css';
@import '~ng-easyui/themes/icon.css';

/* angular material */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.cluster_id {
  display: none;
  background: lightgrey;
  border: 1px solid grey;
  padding: 3px;
}
.cluster_default {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: black;
}
.cluster_0 {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgba(255,0,32,0.7);
}
.cluster_1 {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgba(255,172,0,0.7);
}
.cluster_2 {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgba(119,189,11,0.7);
}
.cluster_3 {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgba(49,117,230,0.7);
}
.cluster_4 {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgba(137,80,224,0.7);
}
.cluster_5 {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgba(220,10,169,0.7);
}
.selected_text {
  background-color: pink;
}

/* scatterplot */
circle.dot {
  fill: black;
  filter: opacity(60%);
  cursor: pointer;
}

circle.dot.model {
  fill: blue;
  filter: opacity(40%);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
