<ng-container *ngIf="data">
    <button mat-button [matMenuTriggerFor]="categoryMenu">Category<span *ngIf="selectedName">: {{selectedName}}</span></button>
    <mat-menu #categoryMenu="matMenu">
        <ng-container *ngFor="let category of data.categories">
            <button mat-menu-item [matMenuTriggerFor]="subcat">{{category.label}}</button>
            <mat-menu #subcat="matMenu">
                <ng-container *ngFor="let sub of category.subcategories">
                    <button mat-menu-item [matMenuTriggerFor]="cluster">{{sub.label}}</button>
                    <mat-menu #cluster>
                        <button mat-menu-item *ngFor="let cluster of sub.clusters"
                            (click)="selectCluster(cluster)"
                            [value]="cluster.name">{{cluster.label}}</button>
                    </mat-menu>
                </ng-container>
            </mat-menu>
        </ng-container>
    </mat-menu>
</ng-container>