@if (dictionary) {
  <button mat-raised-button color="primary" [matMenuTriggerFor]="categoryMenu">
    Category
    @if (selectedCategory) {
      <span>: {{ selectedCategory.path }}</span>
    }
  </button>
  <mat-menu #categoryMenu="matMenu">
    <ng-template matMenuContent>
      @for (category of dictionary.categories; track category) {
        <button
          mat-menu-item
          [matMenuTriggerFor]="subcat"
          (click)="selectCategory(category)"
          [value]="category.name"
        >
          {{ category.label }}
        </button>
        <mat-menu #subcat="matMenu">
          @for (sub of category.subcategories; track sub) {
            <button
              mat-menu-item
              [matMenuTriggerFor]="cluster"
              (click)="selectCategory(sub)"
              [value]="sub.name"
            >
              {{ sub.label }}
            </button>
            <mat-menu #cluster="matMenu">
              @for (cluster of sub.clusters; track cluster) {
                <button
                  mat-menu-item
                  (click)="selectCluster(cluster)"
                  [value]="cluster.name"
                >
                  {{ cluster.label }}
                </button>
              }
            </mat-menu>
          }
        </mat-menu>
      }
    </ng-template>
  </mat-menu>
}
