.layout {
  flex: 0 0 auto;
  background: silver;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  align-self: stretch;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: stretch;
}
.sidebar {
  flex: 0 0 auto;
  overflow-y: auto;
}

.cluster-name {
  white-space: nowrap;
}
.tooltip-icon {
  font-size: small;
}
.cluster-detail {
  overflow: hidden;
}
.cluster-row td {
  border-bottom-width: 0;
}
tr.cluster-detail-row {
  height: 0;
  min-height: 0;
}

.pattern-table {
  margin-left: 3em;
  max-height: calc(30vh);
  overflow: auto;
}

.mat-column-count {
  text-align: right;
}

.document_area {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.text_cards {
  /*margin-left: 3px;
  margin-right: 3px;*/
  flex: 1 1 auto;
  overflow: hidden;
}
.text_card {
  margin: 5px;
}
.text_head {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text_content {
  line-height: 175%;
  max-width: 6.5in;
  padding-left: 18px;
  padding-right: 18px;
  overflow: auto;
}
