.tool {
  display: flex;
  flex-flow: column;
  height: 100%;
}
app-nav {
  flex: 0 1 auto;
}
.container {
  flex: 1 1 auto;
  margin: 5px;
  overflow: auto;
}

.tooltip-icon {
  font-size: small;
}
.cluster-detail {
  overflow: hidden;
}
.cluster-row td {
  border-bottom-width: 0;
}
tr.cluster-detail-row {
  height: 0;
}

.patterns_container {
  max-width: 5.5in;
}

.pattern-table {
  overflow: auto;
  max-height: calc(30vh);
}

.mat-column-pattern_count {
  text-align: right;
}
.mat-column-count {
  text-align: right;
}

summary {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
