.badge {
  text-align: center;
  color: navy; /* color should be from theme as per https://material.angular.io/guide/theming-your-components */
}
.badge:before {
  content: '[';
}
.badge:after {
  content: ']';
  margin-right: .5em;
}

.container {
  height: calc(100vh - 64.5px - 49px - 10px);
  margin: 5px;
  overflow: auto;
}

summary {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.patterns_container {
  max-width: 5.5in;
}
