.tool {
  display: flex;
  flex-flow: column;
  height: 100%;
}
app-nav {
  flex: 0 1 auto;
}
.container {
  flex: 1 1 auto;
  margin: 5px;
  overflow: auto;
}

.tree-node-invisible {
  display: none;
}
.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.tree-node {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.tooltip-icon {
  font-size: small;
}
.cluster-detail {
  overflow: hidden;
}
.cluster-row td {
  border-bottom-width: 0;
}
tr.cluster-detail-row {
  height: 0;
}

.patterns_container {
  max-width: 5.5in;
}

.pattern-table {
  margin-left: 3em;
  max-height: 13em; /*calc(30vh);*/
  overflow: auto;
}

.mat-column-pattern_count {
  text-align: right;
}
.mat-column-count {
  text-align: right;
}

summary {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
