<app-nav></app-nav>
<mat-card *ngIf="corpus" class="container">
  <mat-card-title>Patterns</mat-card-title>
  <mat-card-subtitle>Number of instances of each pattern across all documents.</mat-card-subtitle>
  <mat-card-content class="patterns_container">
    <mat-accordion *ngIf="patterns_data" multi="true" class="patterns_accordion">
      <mat-expansion-panel *ngFor="let clust of patterns_data">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span><span class="badge">{{get_pattern_count(clust)}}</span> {{clust.category.name}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <details *ngIf="clust.category.description">
          <summary>{{clust.category.description}}</summary>
          <p>{{clust.category.description}}</p>
        </details>
        <ul [style.listStyle]="'none'">
          <li *ngFor="let pattern of clust.patterns">
            <span class="badge mat-small">{{pattern.count}}</span>
            {{pattern.pattern}}
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
