@use 'sass:map';
@use '@angular/material' as mat;
@import '../../cmu-app-theme.scss';

$color-config: mat.m2-get-color-config($cmu-theme);
$primary-palette: map.get($color-config, 'primary');
.header {
  text-align: center;
  color: mat.m2-get-color-from-palette($primary-palette, 900);
}

.contrib {
  list-style-type: none;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
}
