<app-nav></app-nav>
<div *ngIf="corpus" class="container">
  <h2>{{corpus.course}} - {{corpus.assignment}} Grouping</h2>
  <p>Use this tool to automatically assign students to groups.</p>
  <div class="group_size_box">
    <div *ngFor="let n of group_sizes">
      <label><input type="radio" [value]="n" [(ngModel)]="group_size">{{n}}</label>
    </div>
  </div>
<!--  <div class="roster">
    <h2>Roster</h2>
    <div *ngFor="let s of students">
      <label><input type="checkbox" [value]="s[0]" [(ngModel)]="s[1]">{{s[0]}}</label>
  </div>-->
  <button (click)="generate_groups(event$)">Group Students</button>
  <ng-container *ngIf="groups">
    <h3>Groups:</h3><!-- potentially use eui-datalist -->
    <div class="groups_container">
      <div class="group" *ngFor="let group of groups.groups">
        <div class="group_member" *ngFor="let ind of group">{{ind}}</div>
      </div>
    </div>
  </ng-container>
</div>
