<mat-card *ngIf="category">
  <!-- <mat-card-title> -->
  <!-- Category: {{ category.id }} -->
  <!-- label(category.id)-->
  <!-- </mat-card-title> -->
  <mat-card-content>
    <mat-table
      matSort
      #rankSort="matSort"
      matSortDisableClear
      [dataSource]="ranking"
      [style.width]="'500px'"
    >
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="rank"
          >Rank</mat-header-cell
        >
        <mat-cell
          *matCellDef="let element; let rowIndex = index"
          class="rank"
          >{{ rowIndex + 1 }}</mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="name"
          >Name</mat-header-cell
        >
        <mat-cell *matCellDef="let element" class="name"
          ><a
            [ngClass]="{
              student_col: true,
              model_entry: element.ownedby === 'instructor'
            }"
            (click)="open(element.id)"
          >
            {{ element.title }}</a
          ></mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="value">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          start="desc"
          class="value"
          >Value</mat-header-cell
        >
        <mat-cell *matCellDef="let element" class="value">{{
          element.value.toFixed(2)
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="meter">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <meter [max]="max_value" [value]="element.value">
            {{ element.value }}
          </meter>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="bar">
        <mat-header-cell *matHeaderCellDef class="bar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            [style.width]="options.width + 'px'"
            [style.height]="options.height + 'px'"
          >
            <desc>
              Linear scale ruler from 0 to
              {{ x.tickFormat(10)(x.ticks(10)[10]) }}.
            </desc>
            <g
              fill="none"
              font-size="9"
              font-family="sans-serif"
              font-weight="normal"
              text-anchor="middle"
            >
              <line
                stroke="currentColor"
                [attr.x1]="x(0)"
                [attr.x2]="x(max_value)"
                [attr.y1]="17"
                [attr.y2]="17"
              />
              <g class="tick" *ngFor="let tick of x.ticks(10); index as i">
                <line
                  stroke="currentColor"
                  [attr.x1]="x(tick)"
                  [attr.x2]="x(tick)"
                  y1="12"
                  y2="17"
                />
                <text [attr.x]="x(tick)" [attr.y]="11" fill="currentColor">
                  {{ x.tickFormat(10)(tick) }}
                </text>
              </g>
            </g>
          </svg>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="bar">
          <svg
            [attr.width]="options.width + 'px'"
            [attr.height]="options.height + 'px'"
            [attr.data-value]="element.value"
          >
            <desc>A bar representing a value of {{ element.value }}</desc>
            <rect
              [attr.x]="left"
              [attr.y]="options.margins.top"
              [attr.height]="
                options.height - (options.margins.top + options.margins.bottom)
              "
              [attr.width]="x(element.value) - left"
              [attr.fill]="
                element.ownedby === 'instructor'
                  ? 'rgba(0,0,255,.4)'
                  : '#EEEEEEEE'
              "
              [attr.stroke]="'#3C3C3C'"
              [attr.stroke-width]="1"
            />
          </svg>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="meanbar">
        <mat-header-cell *matHeaderCellDef class="bar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            [style.width]="options.width + 'px'"
            [style.height]="options.height + 'px'"
          >
            <desc>
              Linear scale ruler from 0 to
              {{ x.tickFormat(10)(x.ticks(10)[10]) }}.
            </desc>
            <g
              fill="none"
              font-size="9"
              font-family="sans-serif"
              font-weight="normal"
              text-anchor="middle"
            >
              <line
                stroke="currentColor"
                [attr.x1]="left"
                [attr.x2]="right"
                [attr.y1]="17"
                [attr.y2]="17"
              />
              <g class="tick" *ngFor="let tick of x.ticks(10); index as i">
                <line
                  stroke="currentColor"
                  [attr.x1]="x(tick)"
                  [attr.x2]="x(tick)"
                  y1="12"
                  y2="17"
                />
                <text [attr.x]="x(tick)" [attr.y]="11" fill="currentColor">
                  {{ x.tickFormat(10)(tick) }}
                </text>
              </g>
            </g>
          </svg>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="bar">
          <div [matTooltip]="bar_tip(element.value)">
            <svg
              [attr.width]="options.width + 'px'"
              [attr.height]="options.height + 'px'"
              [attr.data-value]="element.value"
            >
              <desc>
                A bar that shows the difference of {{ element.value }} from the
                median of {{ median }}
              </desc>
              <line
                [attr.x1]="x(median)"
                [attr.x2]="x(median)"
                [attr.y1]="0"
                [attr.y2]="'100%'"
                [style.stroke]="'black'"
                [style.stroke-width]="'1px'"
              />
              <rect
                [attr.x]="x(mean_start(element.value))"
                [attr.y]="options.margins.top"
                [attr.height]="
                  options.height -
                  (options.margins.top + options.margins.bottom)
                "
                [attr.width]="x(mean_width(element.value)) - x(0)"
                [attr.fill]="
                  element.ownedby === 'instructor'
                    ? 'rgba(0,0,255,.4)'
                    : '#EEEEEEEE'
                "
                [attr.stroke]="'#3C3C3C'"
                [attr.stroke-width]="1"
              />
            </svg>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
