<nav>
  <!--<eui-linkbutton [selected]="is_current('/corpus')"
                  [title]="'Go to corpus details.'"
                  routerLink="/corpus">Corpus</eui-linkbutton>-->
  <eui-linkbutton [selected]="is_current('/boxplot')"
                  [title]="'Go to Box Plot display.'"
                  routerLink="/boxplot"
                  queryParamsHandling="preserve">Box Plot</eui-linkbutton>
  <eui-linkbutton [selected]="is_current('/ranking')"
                  [title]="'Go to rankings list.'"
                  routerLink="/ranking"
                  queryParamsHandling="preserve">Rankings</eui-linkbutton>
  <eui-linkbutton [selected]="is_current('/scatterplot')"
                  [title]="'Go to scatter plot display.'"
                  routerLink="/scatterplot"
                  queryParamsHandling="preserve">Scatter Plot</eui-linkbutton>
  <eui-linkbutton *ngIf="is_instructor()"
                  [selected]="is_current('/grouping')"
                  [title]="'Go to group generator.'"
                  routerLink="/grouping"
                  queryParamsHandling="preserve">Groups</eui-linkbutton>
  <eui-linkbutton *ngIf="is_instructor()"
                  [selected]="is_current('/report')"
                  [title]="'Go to report generator.'"
                  routerLink="/report"
                  queryParamsHandling="preserve">Reports</eui-linkbutton>
</nav>
