<header>
  <mat-toolbar color="primary" role="heading" class="header">
    <span>{{ title }} {{ institution }}</span>
    <span class="spacer"></span>
    <div class="assignment">
      @if (course) {
        <div class="item" matTooltip="{{ course }}">
          <div class="title">Course:</div>
          <div id="course_name" class="value">{{ course }}</div>
        </div>
      }
      @if (assignment) {
        <div class="item" matTooltip="{{ assignment }}">
          <div class="title">Assignment:</div>
          <div id="assignment_name" class="value">{{ assignment }}</div>
        </div>
      }
      @if (instructor) {
        <div matTooltip="{{ instructor }}">
          <div class="title">Instructor:</div>
          <div id="instructor_name" class="value">{{ instructor }}</div>
        </div>
      }
    </div>
    <span class="spacer"></span>
    <button mat-icon-button (click)="openAbout()">
      <mat-icon>info</mat-icon>
    </button>
  </mat-toolbar>
</header>
