.assignment {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: space-around;
}

.item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 30%;
  padding-left: 1em;
  padding-right: 1em;
}

.spacer {
  flex: 1 1 auto;
}

.title {
  font-size: xx-small;
  max-height: 2em;
}

.value {
  font-size: medium;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
