<!-- Title Banner -->
<header>
  <mat-toolbar color="warn" role="heading" class="header"><!-- color="primary" -->
    <span>{{title}}</span>
    <span class="spacer"></span>
    <div></div>
    <span class="spacer"></span>
    <button mat-icon-button (click)="openAbout()">
      <mat-icon>info</mat-icon>
    </button>
  </mat-toolbar>
</header>
<!-- Loading screen cover -->
<ngx-ui-loader></ngx-ui-loader>
<!-- content -->
<main>
  <router-outlet></router-outlet>
</main>
<!-- message runner -->
<app-messages></app-messages>
