.mat-header-row {
  height: 1em;
}
.mat-row {
  height: 1em;
}
.mat-column-count {
  text-align: right;
}
.mat-column-count0 {
  text-align: right;
}
.mat-column-count1 {
  text-align: right;
}
.col-align {
  padding-right: 1.5em;
}
