<app-nav></app-nav>
<mat-card *ngIf="corpus" class="container">
  <!--<h2>\{\{corpus.course\}\} - \{\{corpus.assignment\}\} Rankings</h2>-->
  <mat-card-title>Rankings</mat-card-title>
  <mat-card-subtitle>Ordered by frequency of the selected category.</mat-card-subtitle>
  <mat-card-content *ngIf="categories">
    <aside class="select_category_box">
      <label for="select_category" class="select_category_label">Category:</label>
      <select id="select_category" [(ngModel)]="category" (ngModelChange)="on_select($event)">
        <option *ngFor="let c of categories" [value]="c.category">{{c.category_label}}</option>
      </select>
    </aside>
    <article>
      <app-rank-graph [rank_data]="data" [max_value]="max_value"></app-rank-graph>
    </article>
  </mat-card-content>
</mat-card>
