.tool {
  display: flex;
  flex-flow: column;
  height: 100%;
}
app-nav {
  flex: 0 1 auto;
}
.container {
  flex: 1 1 auto;
  margin: 5px;
  overflow: auto;
}
.select_category_box {
  margin-bottom: 18px;
  margin-left: 3em;
}
.rank_container {
  margin-left: 20px;
  margin-right: 20px;
}
