<app-nav></app-nav>
<ngx-spinner type="ball-pulse"><span style="font-size: 20px; color: white">Loading...</span></ngx-spinner>
<div *ngIf="corpus" class="boxplot_container">
  <h2>{{corpus.course}} - {{corpus.assignment}} Box Plot</h2>
  <div class="graph_container">
    <app-boxplot-graph [boxplot]="data" [max_value]="max_value" (selected_category)="onSelectCategory($event)"></app-boxplot-graph>
    <app-rank-graph [rank_data]="rank_data" [max_value]="max_value"></app-rank-graph>
  </div>
</div>
