.container {
  margin: 5px;
  height: calc(100vh - 64.5px - 49px - 10px);
  overflow: auto;
}
.scatter_container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.axis_selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.axis_select {
  padding: 10px;
}
